<img src="{% static 'guestmain/images/register.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">
<img src="{% static 'guestmain/images/approved.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">
<img src="{% static 'guestmain/images/about_2.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">
<img src="{% static 'guestmain/images/welfares.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">
<img src="{% static 'guestmain/images/notification.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">
<img src="{% static 'guestmain/images/dues.jpg' %}" alt="Image" class="img-fluid" width="500" height="300">